* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

.header img {
  height: 50px;
}

.header .logo,
.header .search,
.header .avatar {
  display: inline-block;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.logo {
  font-weight: bold;
}

.logo img {
  margin-right: 10px;
}

.logo-words {
  position: relative;
  top: -20px;
  display: inline;
  margin: auto;
}

.search {
  padding: 7px;
  border-radius: 20px;
  border: 1px solid rgb(170, 170, 170);
}

.search input {
  padding: 0;
  margin: 0;
  width: 400px;
  border: none;
}

.search input:focus {
  outline: none;
}

.search img {
  height: 15px;
  padding-right: 5px;
}

.footer {
  text-align: center;
  margin: 0 auto;
  height: 100px;
  background-color: rgb(250, 236, 218);
  padding-top: 50px;
}
.posts-container {
  width: 100%;
}
.post {
  width: 60%;
  border-radius: 10px;
  padding: 30px;
  margin: 30px auto;
  background-color: rgb(226, 226, 226);
  overflow-x: hidden;
}

.post .name {
  position: relative;
  padding-bottom: 10px;
  color: rgb(72, 105, 150);
  font-size: 0.8em;
}

.post .arrow-right {
  display: inline;
  position: relative;
  top: 4px;
  transform: rotate(-90deg);
}

.post .arrow-right:hover {
  content: url(images/arrow-red.png);
  transform: rotate(0deg);
}


.post .title {
  border-bottom: 3px solid rgb(170, 170, 170);
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  color: rgb(212, 96, 1);
}

.post .arrow-up,
.post .arrow-down,
.post .arrow-right, 
.arrow-left {
  margin: 0 5px;
  display: inline;
  content: url(images/arrow.png);
  width: 20px;
  cursor: pointer;
}

.post .lower-area {
  margin-top: 20px;

}
.post .arrow-up {
  transform: rotate(180deg);
}

.post .arrow-up:hover {
  content: url(images/arrow-red.png);
  transform: rotate(-90deg);
}

.post .arrow-down:hover {
  content: url(images/arrow-red.png);
  transform: rotate(90deg);
}

.post .votes-number {
  display: inline;
}

.post .votes {
  display: inline;
}

.post .comments {
  display: inline;
  float: right;
  color: rgb(72, 105, 150);
  font-size: 0.8em;
  cursor: pointer;
}

.post-link{
  text-decoration: none;
}

.post-link:hover{
  text-decoration: underline;
  color: rgb(221, 140, 18);
  font-weight: bold;
}

.comment-block {
  width: 60%;
  border-radius: 10px;
  padding: 30px;
  margin: 30px auto;
  background-color: rgb(243, 226, 219);
}

.comment-name {
  border-bottom: 2px solid rgb(94, 94, 94);
  padding-bottom: 5px;
  font-weight: bold;
  color: rgb(41, 86, 148);
}

.comment-comment {
  color: rgb(69, 81, 99);

}

.indent-comment{
  margin-left: 20px;
}

.arrow-left  {
margin-bottom: 30px;
}

.arrow-left {
  display: inline;
  position: relative;
  top: 4px;
  transform: rotate(90deg);
}

.arrow-left:hover {
  content: url(images/arrow-red.png);
  transform: rotate(180deg);
}